#game-wrap {
    width: 100%;
    padding: 5px 5px 0 5px;
    box-sizing: border-box;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-header,
#game-footer {
    height: 40px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

#game-header {
    align-items: center;
    color: var(--text);
}

#game-header svg {
    height: 85%;
    stroke-width: 30px;
}

#game-header>div {
    margin: auto 0;
    font-size: 20px;
    font-family: ubuntu medium;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#game-info-btn {
    aspect-ratio: 1;
    margin: auto 0;
    border: none;
    background-color: #66f;
    height: 100%;
    border-radius: 5px;
}

#game-info-btn svg {
    fill: white;
}

#flags-wrap svg {
    fill: red;
}

#time-wrap div {
    overflow: auto;
    text-wrap: nowrap;
    scrollbar-width: thin;
}

#canvas-wrap {
    flex: 1 0 0px;
    min-height: 0;
    background-color: #ccf;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#game-canvas {
    border: 0px solid black;
}

#game-canvas:focus {
    outline: 2px dashed #aaf;
}

#game-footer {
    align-items: center;
    justify-content: center;
}

#opened-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    color: #999;
    border: none;
    background-color: transparent;
}